.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card Container */
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Card Header */
.card-header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Card Title */
.card-title {
  margin: 0;
  padding: 10px;
}

/* Card Body */
.card-body {
  padding: 10px;
}

/* Card Text */
.card-text {
  margin-bottom: 5px;
}

/* Card Links */
.card-text a {
  color: #007BFF;
  text-decoration: none;
}

.card-text a:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-title {
  background-color: #007BFF;
  color: white;
  padding: 10px; 
  text-align: center;
}

.search-input {
  max-width: 300px; 
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.clear-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 10px; 
  font-size: 16px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #0056b3; 
}
